body, ul, li, p, h1,h2, h3 {
  padding: 0px;
  margin: 0px;
}

body {
  font-size: 1.125em;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}


* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}



.cabecalho {
  background-image: url("../img/bg-hero-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #EDFBFE;
}



.menu {
  padding: 20px 0;
}

.menu-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-nav a {
  font-family: "Poppins", sans-serif;
  background: #fff;
  padding: 10px 40px;
  border-radius: 20px;
  color: hsl(192, 100%, 9%);
  font-size: 0.875em;
  -webkit-box-shadow: -1px 1px 8px -3px #000000; 
  box-shadow: -1px 1px 8px -3px #000000;
  margin-right: 20px;

}

.logo {
  margin-left: 20px;
}


.intro {
  padding: 60px 0;
}

.intro-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

 .foto-intro {
  flex: 1;
}

.intro-info {
  max-width: 540px;
  color: hsl(192, 100%, 9%);
  align-self: center;
  margin-right: 40px;
}

.intro h1 {
  font-size: 2em;
}


.intro p {
  padding-top: 30px;
  font-size: 1em;
}

a.call {
  background: hsl(322, 100%, 66%);
  display: block;
  width: 250px;
  text-align: center;
  padding: 15px 20px;
  color: #fff;
  border-radius: 20px;
  margin-top: 30px;
}


@media (max-width: 739px) {
  .intro-container {
    flex-direction: column;
    max-width: 400px;
  }

  .intro-info {
    align-self: center;
    margin: 0 auto 40px auto;
    text-align: center;
  }

  .intro-info h1 {
    font-size: 1.5em;
  }

  .intro p {
    font-size: 0.875em;
  }

  a.call {
    margin: 40px auto;
  }
}



.conversation {
  padding: 60px 0;
}

.conversation-item {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
  padding: 40px 40px 60px 60px;
  box-shadow: 0px 4px 9px 1px rgba(0,0,0,0.54);
}

.text-info {
  align-self: center;
  flex: 1;
  justify-self: flex-end;
}

.foto-conversation {
  max-width: 400px;
  flex: 1;
}


